# Missing value imputation: DropMissingData

Deletes rows with missing values.

DropMissingData works both with numerical and categorical variables. When no variable list is passed, it will default to all variables in the dataset. In addition, in the parameter missing_only, we can indicate if we want to drop observations in all variables, or only for those that showed missing data during fit, that is, in the train set.

**For this demonstration, we use the Ames House Prices dataset produced by Professor Dean De Cock:**

Dean De Cock (2011) Ames, Iowa: Alternative to the Boston Housing
Data as an End of Semester Regression Project, Journal of Statistics Education, Vol.19, No. 3

http://jse.amstat.org/v19n3/decock.pdf

https://www.tandfonline.com/doi/abs/10.1080/10691898.2011.11889627

The version of the dataset used in this notebook can be obtained from [Kaggle](https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

from feature_engine.imputation import DropMissingData

In [2]:
# load data
data = pd.read_csv('houseprice.csv')

# show first 5 rows
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
# let's separate into training and testing set

X_train, X_test, y_train, y_test = train_test_split(
    data.drop(['Id', 'SalePrice'], axis=1), data['SalePrice'], test_size=0.3, random_state=0)

X_train.shape, X_test.shape

((1022, 79), (438, 79))

In [4]:
# let's create an instance of the imputer
# we want to drop na only in 4 variables from the dataset

na_imputer = DropMissingData(
    missing_only = True,
    variables=['Alley', 'MasVnrType', 'LotFrontage', 'MasVnrArea'])

# imputer checks that the indicated variables have NA
# in the train set
na_imputer.fit(X_train)

DropMissingData(variables=['Alley', 'MasVnrType', 'LotFrontage', 'MasVnrArea'])

In [5]:
# variables from which observations with NA will be deleted

na_imputer.variables_

['Alley', 'MasVnrType', 'LotFrontage', 'MasVnrArea']

In [6]:
# Number of observations with NA before the transformation

X_train[na_imputer.variables].isna().sum()

Alley          960
MasVnrType       5
LotFrontage    189
MasVnrArea       5
dtype: int64

In [7]:
# After the transformation the rows with NA values are 
# deleted form the dataframe

train_t = na_imputer.transform(X_train)
test_t = na_imputer.transform(X_test)

In [8]:
# Number of observations with NA after transformation

train_t[na_imputer.variables].isna().sum()

Alley          0
MasVnrType     0
LotFrontage    0
MasVnrArea     0
dtype: int64

In [9]:
# shape of dataframe before transformation

X_train.shape

(1022, 79)

In [10]:
# shape of dataframe after transformation

train_t.shape

(59, 79)

In [11]:
# The "return_na_data" method, returns a dataframe that contains
# the observations with NA, that would be dropped if we applied
# the transform method

tmp = na_imputer.return_na_data(X_train)

tmp.shape

(963, 79)

In [12]:
# total obs - obs with NA = final dataframe shape

1022-963

59

## Automatically select all variables

In [13]:
# let's create an instance of the imputer

na_imputer = DropMissingData(missing_only=True)

# the transformer will find the variables with NA
na_imputer.fit(X_train)

DropMissingData()

In [14]:
# variables with NA in the train set

na_imputer.variables_

['LotFrontage',
 'Alley',
 'MasVnrType',
 'MasVnrArea',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Electrical',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PoolQC',
 'Fence',
 'MiscFeature']

In [15]:
# Number of observations with NA

X_train[na_imputer.variables_].isna().sum()

LotFrontage      189
Alley            960
MasVnrType         5
MasVnrArea         5
BsmtQual          24
BsmtCond          24
BsmtExposure      24
BsmtFinType1      24
BsmtFinType2      25
Electrical         1
FireplaceQu      478
GarageType        54
GarageYrBlt       54
GarageFinish      54
GarageQual        54
GarageCond        54
PoolQC          1019
Fence            831
MiscFeature      978
dtype: int64

In [16]:
# After the transformation the rows with NA are deleted form the dataframe

train_t = na_imputer.transform(X_train)
test_t = na_imputer.transform(X_test)

In [17]:
# Number of observations with NA after the transformation
train_t[na_imputer.variables_].isna().sum()

LotFrontage     0.0
Alley           0.0
MasVnrType      0.0
MasVnrArea      0.0
BsmtQual        0.0
BsmtCond        0.0
BsmtExposure    0.0
BsmtFinType1    0.0
BsmtFinType2    0.0
Electrical      0.0
FireplaceQu     0.0
GarageType      0.0
GarageYrBlt     0.0
GarageFinish    0.0
GarageQual      0.0
GarageCond      0.0
PoolQC          0.0
Fence           0.0
MiscFeature     0.0
dtype: float64

In [18]:
# in this case, all observations will be dropped
# because all of them show NA at least in 1 variable

train_t.shape

(0, 79)